.logo-22.t-9017,
.logo-22.t-9680,
.logo-22.t-8923,
.logo-22.t-3829,
.logo-22.t-3830,
.logo-22.t-3834,
.logo-22.t-9875,
.logo-22.t-9778 {
  display: inline-block;
  background-image: url(./ligue_47319966743760_22.png);
  width: 22px;
  height: 22px;
}
.logo-22.t-9017 {
  background-position: 0px 0px;
}
.logo-22.t-9680 {
  background-position: -24px 0px;
}
.logo-22.t-8923 {
  background-position: 0px -24px;
}
.logo-22.t-3829 {
  background-position: -24px -24px;
}
.logo-22.t-3830 {
  background-position: -48px 0px;
}
.logo-22.t-3834 {
  background-position: -48px -24px;
}
.logo-22.t-9875 {
  background-position: 0px -48px;
}
.logo-22.t-9778 {
  background-position: -24px -48px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo-22.t-9017,
  .logo-22.t-9680,
  .logo-22.t-8923,
  .logo-22.t-3829,
  .logo-22.t-3830,
  .logo-22.t-3834,
  .logo-22.t-9875,
  .logo-22.t-9778 {
    background-image: url(./ligue_47319966743760_22@2x.png);
    background-size: 70px 70px;
  }
}
.logo-30.t-9017,
.logo-30.t-9680,
.logo-30.t-8923,
.logo-30.t-3829,
.logo-30.t-3830,
.logo-30.t-3834,
.logo-30.t-9875,
.logo-30.t-9778 {
  display: inline-block;
  background-image: url(./ligue_47319966743760_30.png);
  width: 30px;
  height: 30px;
}
.logo-30.t-9017 {
  background-position: 0px 0px;
}
.logo-30.t-9680 {
  background-position: -32px 0px;
}
.logo-30.t-8923 {
  background-position: 0px -32px;
}
.logo-30.t-3829 {
  background-position: -32px -32px;
}
.logo-30.t-3830 {
  background-position: -64px 0px;
}
.logo-30.t-3834 {
  background-position: -64px -32px;
}
.logo-30.t-9875 {
  background-position: 0px -64px;
}
.logo-30.t-9778 {
  background-position: -32px -64px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo-30.t-9017,
  .logo-30.t-9680,
  .logo-30.t-8923,
  .logo-30.t-3829,
  .logo-30.t-3830,
  .logo-30.t-3834,
  .logo-30.t-9875,
  .logo-30.t-9778 {
    background-image: url(./ligue_47319966743760_30@2x.png);
    background-size: 94px 94px;
  }
}
.logo-64.t-9017,
.logo-64.t-9680,
.logo-64.t-8923,
.logo-64.t-3829,
.logo-64.t-3830,
.logo-64.t-3834,
.logo-64.t-9875,
.logo-64.t-9778 {
  display: inline-block;
  background-image: url(./ligue_47319966743760_64.png);
  width: 64px;
  height: 64px;
}
.logo-64.t-9017 {
  background-position: 0px 0px;
}
.logo-64.t-9680 {
  background-position: -66px 0px;
}
.logo-64.t-8923 {
  background-position: 0px -66px;
}
.logo-64.t-3829 {
  background-position: -66px -66px;
}
.logo-64.t-3830 {
  background-position: -132px 0px;
}
.logo-64.t-3834 {
  background-position: -132px -66px;
}
.logo-64.t-9875 {
  background-position: 0px -132px;
}
.logo-64.t-9778 {
  background-position: -66px -132px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo-64.t-9017,
  .logo-64.t-9680,
  .logo-64.t-8923,
  .logo-64.t-3829,
  .logo-64.t-3830,
  .logo-64.t-3834,
  .logo-64.t-9875,
  .logo-64.t-9778 {
    background-image: url(./ligue_47319966743760_64@2x.png);
    background-size: 196px 196px;
  }
}